.bottom {font-family: "Microsoft YaHei", "微软雅黑", Arial, "Helvetica Neue", Helvetica, "sans-serif";height: 180px;background-color:#000;background-repeat: no-repeat;z-index: 1;font-size: 12px;color: #959595;position: relative;}
.foot_dl {position: absolute;top: 40px;}
.foot_dl dt{float:left; padding-left: 7px;}
.foot_dl dt a {float: left;padding: 0 11px;}
.foot_dl dt a.wanmei {border-right: 1px solid #000;}
.foot_dl dd{float:right;font-size: 12px; margin: 0;line-height: 1.25;max-width: 824px;}
.bottom .rel1100 .certificate {position: absolute;top: 85px;left: 230px;line-height: 1.5;font-size: 12px; color:#333;text-align: center;}
.bottom .rel1100 .certificate img{vertical-align: middle;}
.bottom .rel1100 .certificate a{color:#333}
.rel1100{margin:0 auto;width:1128px;position: relative;}
.bottom .rel1100 .remark{position: absolute;top: 122px;left: 260px;line-height: 1.5;font-size: 12px; color:#333;text-align: center;}

